/* global styles */
body {
    background-image: url(images/woodgrainbg.jpg);
}

#thefooter {
    background-color: rgb(55, 81, 88);
    height: 50px;
    width: 100%;
    margin-left: 0;
    margin-right: 0; 
    margin-bottom: 0;
      
}

#copyright {
    padding-top: 10px;
    padding-left: 10px; 
    float: left;
    color: azure;
}

#footmsg {
    float: right;
    padding-top: 10px;
    padding-right: 10px;
    color: azure;
}


/* global navbar */

.navbar {
    background-color: rgb(55, 81, 88);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.navbar-brand {
    font-size: 30px;
    text-decoration: underline;
}

#icon {
    width: 50px;
    height: 50px;
}

/* index/home styles */

#hometron {
    margin-top: 50px;
}

#hometron .jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#hometron img {
    height: 80%;
    width: 90%;
    
}

/* contact page */

#contactcol {
    background-color: rgb(179, 179, 173);
    margin: 25%;
    padding: 40px 30px;
    border-radius: 15px;
}


/* about page */

#aboutJ {
    background-color: rgb(179, 179, 173);
    margin-top: 25%;
    margin-bottom: 25%;
    padding: 40px 10px;
    border-radius: 10px;
}

/* portfolio page */

#picwell {
    background-color: rgb(187, 187, 187);
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#picwell img{
    margin-top: 20px;
}

/* storefront styles */

#showcase {
    margin: 5%;
}

.item {
    border: black solid 1px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    background-color:  rgb(201, 169, 29);
    border-radius: 10px;
    height: 150px;
    margin: -20px auto;
}


.item-image {
   width: 80%;
   margin: auto;
   border: solid black 1px;
}


.item-text {
    margin: auto;
    font-size: 11px;
    word-spacing: 4px;
    font-weight: bold;
    
}

.addBtn {
    height: 40px;
    width: 70%;
    margin: auto;
    transition: .4s;
    /* background-color: rgb(75, 104, 8); */
}

.addBtn:hover {
    letter-spacing: 3px;
    transition: .4s;
}



